<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qr code gen</title>
    <script type="text/javascript" src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .field{
            margin-bottom:20px;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>QR code Generator</h1>
        <div id="qr-code" ref="qrCode"></div>

        <select v-model="extension">
            <option value="svg">SVG</option>
            <option value="png">PNG</option>
            <option value="jpeg">JPEG</option>
            <option value="webp">WEBP</option>
            <option value="gif">GIF</option>
        </select>
        <button v-on:click="download">Download</button>
        
        
        <div style="margin-top: 30px;">
            <div class="field">
                <input v-model="options.data" placeholder="url or text">
            </div>

            <div class="field">
                <label for="background">Background color:</label>
                <input type="color" id="background" name="background" v-model="options.backgroundOptions.color"/>
            </div>

            <div class="field">
                <label for="dots">Dots color:</label>
                <input type="color" id="dots" name="dots" v-model="options.dotsOptions.color"/>
            </div>

            <div class="field">
                <select v-model="options.dotsOptions.type">
                    <option value="square">Square</option>
                    <option value="rounded">Rounded</option>
                    <option value="dots">Dots</option>
                </select>
            </div>

            <input type="file" name="image" id="image" @change="onFileChange" />

<!-- 
            <label for="width">Width (between 100 and 1024): {{options.width}}</label>
            <input type="range" id="points" name="width" min="100" max="1024" v-model="options.width"> -->

        </div>
    </div>
    <footer>util 2025</footer>
    <script src="app.js"></script>
</body>

</html>
